<div class="container container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 class="row col-md-12 card-title"><%= t('movies.labels.cast_and_crew') %></h3>
    </div>
    <div class="card-body">
      <div id="casts-container">
        <%= f.fields_for :casts, f.object.casts do |c| %>
            <div class="cast-label row form-group">
              <div class="col-md-5">
                <%= c.label :person_id, class: 'text-bold better-font' %>
              </div>
              <div class="col-md-5">
                <%= c.label :character_name, t('movies.labels.character'), class: 'text-bold better-font' %>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-5">
                <%= c.text_field :person_id, class: 'form-control' %>
              </div>

              <div class="col-md-5">
                <%= c.text_field :character_name, class: 'form-control' %>
              </div>
              <button type="button" class="btn btn-outline-primary" id="add-cast-0" onclick="movieCast.addCast();">
                <%= t('movies.labels.add_cast') %>
              </button>
              <button type="button" class="btn btn-outline-danger hidden" id="remove-cast-0" onclick="movieCast.deleteCast();">
                <%= t('movies.labels.remove_cast') %>
              </button>
            </div>
      <% end %>
        <div class="hidden cast-template">
          <%= f.fields_for :casts, f.object.casts.new do |c| %>
            <div class="row form-group">
              <div class="col-md-5">
                <%= c.text_field :person_id, class: 'form-control' %>
              </div>

              <div class="col-md-5">
                <%= c.text_field :character_name, class: 'form-control' %>
              </div>
              <button type="button" class="btn btn-outline-primary" id="add-cast-button" onclick="movieCast.addCast();">
                <%= t('movies.labels.add_cast') %>
              </button>
              <button type="button" class="btn btn-outline-danger hidden" id="remove-cast-button" onclick="movieCast.deleteCast();">
                <%= t('movies.labels.remove_cast') %>
              </button>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>