<div class="container container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 class="row col-md-12 card-title"><%= t('movies.labels.movie_details') %></h3>
    </div>
    <div class="card-body">

      <div class="row form-group">
        <div class="col-md-2">
          <%= f.label :title, class: 'text-bold better-font' %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <%= f.label :original_title, class: 'text-bold better-font' %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :original_title, class: 'form-control' %>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-2">
          <%= f.label :summary, class: 'text-bold better-font' %>
        </div>
        <div class="col-md-10">
          <%= f.text_area :summary, class: 'form-control' %>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-2">
          <%= f.label :country_id, class: 'text-bold better-font' %>
        </div>
        <div class="col-md-4">
          <%= collection_select(f, :country_id, @countries, :id, :name, {prompt: true}, {class: 'form-control'}) %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <%= f.label :status_id, class: 'text-bold better-font' %>
        </div>
        <div class="col-md-3">
          <% #ToDo This is reference Data %>
          <%= f.text_field :status_id, class: 'form-control' %>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-2">
          <%= f.label :language_id, class: 'text-bold better-font' %>
        </div>
        <div class="col-md-4">
          <%= collection_select(f, :language_id, @languages, :id, :name, {prompt: true}, {class: 'form-control'}) %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <%= f.label :budget, class: 'text-bold better-font' %>
        </div>
        <div class="col-md-3">
          <%= f.number_field  :budget, class: 'form-control' %>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-2">
          <%= f.label :release_date, class: 'text-bold better-font' %>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <%= f.date_field :release_date, class: 'form-control' %>
            <span class="input-group-addon"><%= fa_icon(t('movies.labels.calender')) %></span>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <%= check_box_tag(:adult_movie_ind) %>
          <%= f.label :adult_movie_ind, t('movies.labels.adult_movie'), class: 'text-bold better-font' %>
          <% f.hidden_field :adult_movie_ind %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <%= f.label :runtime, t('movies.labels.runtime'), class: 'text-bold better-font' %>
        </div>
        <div class="col-md-1">
          <%= f.number_field :runtime, class: 'form-control' %>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-2">
          <%= f.label :homepage, class: 'text-bold better-font' %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :homepage, class: 'form-control' %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <%= f.label :revenue, class: 'text-bold better-font' %>
        </div>
        <div class="col-md-3">
          <%= f.number_field :revenue, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>