<% #test %>
<div class="col-md-12">Welcome User</div>
<div class="row col-md-12"><%= link_to('log out', destroy_user_session_path, method: :delete) %></div>
<div class="row col-md-12"><%= link_to('New Movie', new_movies_path) %></div>